
.md-avatar {
  border: 2px solid #90D0DB;
}

.back-main {
  background: #fcfcfc url("/assets/images/background.jpg") repeat center center;
  height: 100%;
  min-height: 100%;
}

.card-img {
  border: 2px solid #90D0DB;
  text-align: center;
  border-radius: 50%;
  height: 100px;
}

.progress {
  position: fixed;
  top: 64px;
  z-index: 9999;
}

@media screen and (max-width: 600px) {
  .progress {
    top:48px;
  }
}

@media screen and (max-width: 450px) {
  .progress {
    top:55px;
  }
}

md-list .md-button{
  line-height: 23px;
}


