<md-toolbar>
    <div class="md-toolbar-tools">
            <img src="assets/images/logofull_w.svg" style="height: 26px;">
        <span flex></span>
    </div>
</md-toolbar>

    <md-content layout-padding class="back-main">

      <div layout="column" layout-align="center center" style="background-color: #FFF;">
        <h2>Ciao {{MainCtrl.user.profile.name }}</h2>
        <p>Gestisci i tuoi canali:</p>
      </div>

      <md-divider></md-divider>

      <md-list layout-padding>
        <md-list-item ng-repeat="contact in contacts">
          <img alt="{{ contact.name }}" ng-src="{{ contact.avatar_url }}" class="md-avatar" />
          <h5>{{ contact.name }}</h5>
          <md-progress-circular md-mode="{{contact.progress}}"
                                md-diameter="20px"
                                ></md-progress-circular>
          <md-button class="md-primary"
                      ng-click="MainCtrl.follow(contact)"
                      ng-disabled="contact.disabled"
                      ng-hide="contact.selected">
            <md-icon aria-label="Follow contact" style="color:#37474F">add</md-icon>
              Segui
          </md-button>
          <md-button class="md-warn"
                      ng-click="MainCtrl.unfollow(contact)"
                      ng-disabled="contact.disabled"
                      ng-show="contact.selected">
            <md-icon aria-label="Follow contact" ">remove</md-icon>
              Rimuovi
          </md-button>
        </md-list-item>
      </md-list>
    </md-content>
