$button-main-primary: #37474F;
$avatar-border: #37474F; //#90D0DB


h2{
  margin: 0;
  margin-top: 5px;
}
p{
  margin: 5px;
}

md-list-item p{
  font-size: 12px;
}
.md-button {
  min-width: 90px;
  min-height: 15px;
  line-height: 15px;
  font-size: 10px;
  font-weight: bold;
  background-color: #FFF;
}
.md-button.md-warn{
  border:2px solid #F44336;
  background-color: #FFF;
}
.md-button.md-primary{
  border:2px solid $button-main-primary;
  color: $button-main-primary;
  background-color: #FFF;
}

.md-avatar {
  border:2px solid $avatar-border;
}

.back-main {
  background: #fcfcfc url("/assets/images/background.jpg") repeat center center;
  height: 100%;
  min-height: 100%;
}