<md-toolbar
        class="md-whiteframe-z2"
        md-scroll-shrink
        style="position: fixed">
    <div class="md-toolbar-tools">
        <img src="assets/images/logofull_w.svg" style="height: 60%;">
    </div>
</md-toolbar>

<md-progress-linear class="md-warn progress" md-mode="{{progress}}"></md-progress-linear>


<md-content flex class="back-main">

    <md-list style="padding-bottom:50px; margin-top:80px;">

        <md-card style="margin-top:30px;">
            <md-card-content layout-align="center center center">
                <h2 class="md-title">Ciao {{MainCtrl.user.profile.name }}</h2>

                <p>Gestisci i tuoi canali</p>
            </md-card-content>
        </md-card>


        <md-list-item class="md-1-line"
                      layout="row"
                      ng-repeat="contact in contacts"
                      ng-click="MainCtrl.info(contact,$event)">
            <img alt="{{ contact.name }}" ng-src="{{ contact.avatar_url }}" class="md-avatar"/>

            <div class="md-list-item-text" layout="column" flex="65">
                <p>{{ contact.name }}</p>
            </div>

            <md-button class="md-fab md-mini md-secondary"
                       ng-class="MainCtrl.getIconClass(contact.selected)"
                       ng-click="MainCtrl.setAction(contact)"
                       ng-disabled="contact.disabled">

                <md-icon>{{MainCtrl.getIcon(contact.selected)}}</md-icon>

            </md-button>

        </md-list-item>
    </md-list>
</md-content>
