<md-toolbar>
    <div class="md-toolbar-tools">
            <img src="assets/images/logo_w.svg" style="height: 26px;">
        <span flex></span>
    </div>
</md-toolbar>

    <md-content layout-padding>

      <div layout="column" layout-align="center center">
        <h1>Ciao {{MainCtrl.user.profile.name }}</h1>
        <p>Gestisci i tuoi canali:</p>
      </div>

      <md-divider></md-divider>

      <md-list layout-padding>
        <md-list-item ng-repeat="contact in contacts">
          <img alt="{{ contact.name }}" ng-src="{{ contact.avatar_url }}" class="md-avatar" />
          <p>{{ contact.name }}</p>
          <md-progress-circular md-mode="{{contact.progress}}" md-diameter="20px"></md-progress-circular>
          <md-button class="md-raised md-primary"
                      ng-click="MainCtrl.follow(contact)"
                      ng-disabled="contact.disabled"
                      ng-hide="contact.selected">
            <md-icon aria-label="Follow contact">add</md-icon>
              Segui
          </md-button>
          <md-button class="md-raised md-warn"
                      ng-click="MainCtrl.unfollow(contact)"
                      ng-disabled="contact.disabled"
                      ng-show="contact.selected">
            <md-icon aria-label="Follow contact">remove</md-icon>
              Rimuovi
          </md-button>
        </md-list-item>
      </md-list>
    </md-content>



